/.git
/.env
/node_modules
/vendor
/public/build
/public/hot
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/testing
/storage/framework/views

.DS_Store
npm-debug.log
yarn-error.log
